body,
html,
.container-fluid {
	height: 100%;
	width: 100%;
	min-width: 1366px;
	overflow-x: hidden;
	font-family: 'myFont';
}

.bj-header {
	height: 110px;
	background: #FFFFFF;
	box-shadow: 0px -1px 14px rgba(202, 201, 201, 0.8);
}

.bj-footer {
	height: 200px;
	background: #FFFFFF;
	box-sizing: border-box;
	box-shadow: -2px 1px 5px rgba(171, 171, 171, 0.8);
	position: relative;
}
.footer-left{
	position: absolute; 
    left: 39%; 
    top: 50%;
    transform: translate(-50%, -50%); 
	float: left;
	width: 22%;
	height: 60%;
	border-right: 1px solid rgba(193,193,193,.6);
}
.footer-left p{
	margin: 5px 0px; 
	letter-spacing: 2px;
}
.footer-right p{
	margin: 10px 0px;
}
.footer-right{
	position: absolute; 
  left: 65%; 
  top: 50%;
  transform: translate(-50%, -50%); 
	float: left;
	width: 22%;
	height: 60%;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.header-tools{
	height: 100%;
	line-height: 110px;
	position: absolute;
	right: 200px;
	top: 0;
}
.header-tools-item{
	height: 60px;
	margin-top: 25px;
	float: left;
	line-height: 40px;
	text-align: center;
	margin-left: 30px;
}
.header-tools img{
	cursor: pointer;
}
.layui-nav{
	background-color: #FFFFFF;
	color: #000000;
}
.layui-nav-img{
}
.layui-nav .layui-nav-item a{
	color: #000000;
	padding: 10px 20px;
	text-decoration: none;
}
[v-clock] { display: none; }


.bj-aside {
	height: 1000px;
}

.bj-container {
	height: 100%;
}

.bj-main {
	margin: 104px 10px 0px 10px;
	background: url(../img/bg.jpg) no-repeat 100%;
}

.bj-main-box {
	height: 90%;
	min-height: 940px;
	background: rgba(255, 255, 255,0);
	padding: 0px;
	margin: 0px 10px;
}

.bj-aside-title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	padding-left: 10px;
	font-weight: bolder;
}

.nav-tabs {
	width: 100%;
	border-radius: 10px;
	border-bottom: 0;
}

.nav-tabs li {
	width: 50%;
	height: 50px;
	border-radius: 0px 10px 0px 0px;
	box-sizing: border-box;
	font-weight: bold;
}
.nav-tabs li:first-child{
	border-radius:10px 0px 0px 0px;
}

.nav-tabs li a {
	border-radius: 0px;
	height: 100%;
	line-height: 35px;
	text-align: center;
}

.bj-aside-left {
	padding-right: 0px;
	padding: 10px 0px 10px 10px;
}

.bj-aside-right {
	padding-left: 0px;
	padding: 10px 10px 10px 0px;

}

.nav-tabs>li{
	width: 50%;
	margin-bottom: 0;
}

.nav-tabs>li:nth-child(1)>a{
	border-radius: 10px 0px 0px 0px;
}
.nav-tabs>li:nth-child(2)>a{
	border-radius: 0px 10px 0px 0px;
}
.nav-tabs>li.else{
	background: rgba(239,239,239,.9);
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	background: rgba(213,213,213,.7);
	border: 0;
	margin: 0;
	color: black;
}

.bj-content {
	width: 100%;
	height: 100%;
	margin: 50px auto;
}

.bj-content .row {
	padding-left: 50px;
}

.bj-hall-item {
	position: relative;
	width: 46%;
	height: 400px;
	display: inline-block;
	background: rgba(241, 241, 241, 0.66);
	border-radius: 10px;
	margin: 10px;
}

.sidenav-link-title2 {
	padding-left: 0px;
}


.menu-buttons {
	width: 90%;
	margin-top: 150px;
	margin-bottom: 30px;
}

.menu-button {
	width: 78%;
	margin-left: 18%;
	margin-top: 25px;
	cursor: pointer;
}

.bj-hall-item .hall-item-countDown{
	width: 50%;
	height: 40px;
	margin: 0px auto;
	background: rgba(227, 227, 227, 0.81);
	border-radius: 0 0 10px 10px;
	text-align: center;
	color: darkgray;
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 40px;
	box-shadow: 0px 1px 5px #afafaf;
}
.bj-hall-item .hall-item-countDown span{
	color: brown;
	font-weight: bold;
	margin: 0px 3px;
	letter-spacing: 0px;
}
.hall-item-container{
	width: 100%;
	height: 280px;
	margin-top: 30px;
	padding-left: 30px;
}
.hall-item-questionBox{
	position: relative;
	height: 100%;
	width: 45%;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px #afafaf;
	float: left;
	padding: 30px 20px;
	border-radius: 5px;
}
.hall-item-datas{
	height: 100%;
	width: 35%;
	float: left;
}
.hall-item-data{
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.hall-item-data img{
	float: left;
}
.hall-item-data span{
	color: rgb(134,22,11);
	font-weight: bold;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}
.hall-item-question{
	width: 100%;
	color: #080808;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	font-size: 16px;
	cursor: pointer;
}
.hall-item-questionBox img{
	position: absolute;
	bottom: 20px;
	left: 8%;
	width: 84%;
}
.slidenav-content{
	width: 100%;
	padding-left: 10px;
}
.slidenav-classify-a{
	width: 90%;
	border-top: 2px solid rgba(195,195,195,.7);
	padding: 26px 0px;
	/*padding: 26px 0px \9\0;*/
	font-size: 14px;
}

.slidenav-classify-b{
	width: 100%;
	padding: 10px 0px;
	overflow: hidden;
}

.slidenav-classify-b li{
	box-shadow: 0px 0px 0px saddlebrown;
	border-radius: 0;
	margin: 0;
	background: transparent;
}

.room-item{
	width: 65px;
	height: 65px;
	border: 2px solid rgba(134,22,11,.9);
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: -2px;
	margin-bottom: -2px;
	float: left;
	cursor: pointer;
}
.room-item p{
	margin-top: 5px;
	color: rgb(134,22,11);
}
.rooms{
	width: 92%;
	height: 70px;
}

.inviteDialog{
	padding: 30px;
	display: none;
}
.inviteDialog .layui-btn{
	background-color: rgb(139,22,11);
}
.layui-form-label{
	float: none !important;
	width: 200px !important;
	padding: 4px;
}
.layui-input-block{
	margin-left: 0px !important;
}

 input::-webkit-input-placeholder {
	color: #8C8C8C !important;
	font-size: 14px;
}

.invitedUser{
	margin-left: 15px;
	font-size: 16px;
	font-weight: bolder;
}

.layui-tab-card>.layui-tab-title{
	background: rgb(139,22,11);
	color: #fff;
}
.layui-tab-card{
	border:0px solid rgb(139,22,11);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
}
.layui-tab-card>.layui-tab-title li{
	/*margin-top: -6px;*/
	margin-left: 0px;
	margin-right: 0px;
	/*padding-top: 4px;*/
	background-color: rgb(139,22,11);
	border-right: 1px solid rgb(255,255,255,.6);
	border-radius: 5px 5px 0px 0px;
}
.layui-tab-content{
	padding: 1px 0px;
}
.layui-tab-card>.layui-tab-title .layui-this:after{
	border-width: 0px;
}
.layui-tab-title .layui-this{
	background-color: rgb(139,22,11) !important;
	border-radius: 8px 8px 0px 0px;
	color: #fff;
	margin-top: -8px !important;
	line-height: 40px;	
}
.layui-tab-title{
	height: auto;
	border-bottom-width:0px;
	background: rgba(139,11,22,0) !important;
	margin-top: 10px;
	padding-top: 6px;
}
.layui-tab-bar{
	background-color: rgb(139,22,11);
	top: -4px;
	border-width: 0px;
	display: none;
}
.layui-tab[overflow]>.layui-tab-title{
	overflow-x: scroll;
}

.layui-tab-title li{
	padding: 0 18px;
	font-size: 12px;
	line-height: 32px;
}


.firstPartyType{
	margin: 0px 10px;
	padding: 3px 10px;
	background: #404040;
	color: white;
	border-radius: 3px;
}
.freeDesignerType{
	margin: 0px 10px;
	padding: 3px 10px;
	background: rgb(139,22,11);
	border-radius: 3px;
	color: white;
}


.noInviteDialog{
	width: 100%;
	height: 100%;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	display: none;
	border-radius: 6px;
}

.noInviteDialog p{
	margin-top: 15px;
}

.noInviteDialog button{
	width: 150px;
	height: 35px;
	border-radius: 50px;
	background: rgb(139,22,11);
	color: white;
	margin-top: 25px;
}


.slidenav-classify-b /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 16px;  /*滚动条宽度*/
    height: 6px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
.slidenav-classify-b
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);  
    border-radius: 0px;  /*滚动条的背景区域的圆角*/
    background-color: rgba(255,255,255,0);/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
.slidenav-classify-b
::-webkit-scrollbar-thumb  
{  
    border-radius: 0px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: rgba(193,193,193,.6);  /*滚动条的背景颜色*/
}  

@media (max-width:1366px) {
	.bj-hall-item .hall-item-countDown {
		font-size: 13px;
	}
	.hall-item-questionBox{
		width: 40%;
	}
	.hall-item-datas{
		width: 49%;
	}
	.tab-nav li a{
		padding: 0 8px;
	}
}