<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>答题大厅</title>
		<link rel="stylesheet" href="lib/js/layui/css/layui.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/answerHall.css" />
		<link rel="stylesheet" href="lib/js/layui/css/modules/layer/default/layer.css" />
		<script type="text/javascript" src="lib/js/jquery.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="lib/js/layui/layui.js" ></script>
		<script type="text/javascript" src="lib/js/vue.min.js" ></script>
	</head>
	<style>
		
	</style>
	<body>
		<div class="questionContainer" id="questionContainer">
		<div class="boxLeft">
			<div class="boxLeft-top boxCommon">
				<div class="timeCountDown">
					<span style="color: #000000;">倒计时:</span><span :id='"d"+questionData.id'></span>天<span :id='"h"+questionData.id'></span>时<span :id='"m"+questionData.id'></span>分<span :id='"s"+questionData.id'></span>秒
				</div>
				<div class="infos">
					<div class="hall-item-data hall-reward">
						<img src="img/money.png" title="赏金金额" />
						<span>{{questionData.reward}}</span>
						<span style="margin-left: 10px;color: gray;">RMB</span>
					</div>
					<div class="hall-item-data hall-reward">
						<img src="img/person.png" title="参与人数" />
						<span>{{questionData.joinNum}}</span>
						<span style="margin-left: 10px;color: gray;">人</span>
					</div>
					<div class="hall-item-data hall-reward">
						<img src="img/time.png" title="截止时间" />
						<span style="color: #3C3C3C;font-weight: 500;text-align: left;">
						<p>{{questionData.year}}</p>
						<p>{{questionData.time}}</p>
					</span>
					</div>
				</div>
				<div class="questionsBody">
					<div class="questionsLeft">
						<div v-html="questionData.tempContent" class="question-content"></div>
						<p class="details" id="showDetails">查看问题详情</p>
						<img src="img/icon_submit.png" class="btnSubmitAnswer" id="btnSubmitAnswer" />
					</div>
					<div class="questionsRight">
						<img src="img/btn_download.png" style="width: 80%;margin-left: 8%;margin-bottom: 20px;" />
						<div class="fileItem" v-for="file of questionData.attachments">
							<img src="img/icon_file.png" />
							<a :title="file.name" :href="file.path" :download="file.path" @click="downLoadFile(file.path)">{{file.tempName}}</a>
						</div>
					</div>
				</div>
			</div>
			
			<!--桌子部分-->
			<div class="boxLeft-bottom boxCommon">
				<!--上部分设计师-->
				<div class="desk-top" id="freeDesignerTop">
					<div class="respondentItem" v-for="fd of topDesigners">
						<p :style="fd.member.tempName=='我'? 'font-weight:bold;color:rgb(139,22,11)' : ''" >{{fd.member.tempName}}</p>
						<img :src="fd.member.tempHeadImg" class="layui-nav-img" :class="fd.member.online? 'online' : 'offline'" @click="showAnswer(fd.id,fd.member.id)" />
					</div>
					<div class="respondentItem" id="inviteDesignerTop">
						<p>邀请设计师</p>
						<img style="border-color: transparent;" id="inviteFDTop" src="img/icon_add.png" class="layui-nav-img" />
					</div>
				</div>
				<!--桌子及左右甲方和管理员-->
				<div class="desk-middle">
					<div class="middle-fp middle-common">
						<div class="respondentItem">
							<img src="img/header.jpg" class="layui-nav-img" />
							<p>甲方</p>
						</div>
						<div class="respondentItem">
							<img src="img/header.jpg" class="layui-nav-img" />
							<p>项目经理</p>
						</div>
					</div>
					<div class="middle-question middle-common">
						{{questionData.title}}
					</div>
					<div class="middle-admin middle-common">
						<div class="respondentItem admin1">
							<img src="img/header.jpg" class="layui-nav-img" />
							<p style="margin-left: 8px;">管理员</p>
						</div>
						<div class="respondentItem admin2">
							<img src="img/header.jpg" class="layui-nav-img" />
							<p>管理员</p>
						</div>
						<div class="respondentItem admin3">
							<img src="img/header.jpg" class="layui-nav-img" />
							<p>管理员</p>
						</div>
					</div>
				</div>
				<!--下部分设计师-->
				<div class="desk-top desk-bottom" id="freeDesignerBottom">
					<div class="respondentItem" v-for="fd of bottomDesigners">
						<img :src="fd.member.tempHeadImg" class="layui-nav-img" :class="fd.member.online? 'online' : 'offline'" @click="showAnswer(fd.id)"/>
						<p :style="fd.member.tempName=='我'? 'font-weight:bold;color:rgb(139,22,11)' : ''">{{fd.member.tempName}}</p>
					</div>
					<div class="respondentItem" id="inviteDesignerBottom">
						<img style="border-color: transparent;" id="inviteFDBottom" src="img/icon_add.png" class="layui-nav-img" />
						<p>邀请设计师</p>
					</div>
				</div>
			</div>
		</div>
		<div class="boxRight boxCommon">
			<div class="tipBox">
				<p style="color: rgb(139,22,11);font-size: 16px;font-weight: bold;">公告</p>
				<p class="noticeText">
					{{questionData.notice}}
				</p>
				<div class="openAll">
					<i class="layui-icon layui-icon-down"></i><span>展开详情</span>
				</div>
			</div>
			<div class="tipBox memberBox">
				<p style="color: rgb(139,22,11);font-size: 16px;font-weight: bold;margin-bottom: 20px;">在线设计师</p>
				<div class="memberItem" v-for="member of onlineDesigners">
					<div class="memberHeaderImg">
						<img :src="member.tempHeadImg" class="layui-nav-img" />
					</div>
					<div class="memberInfo">
						<p class="member-name">{{member.tempName}}</p>
						<p class="member-workTime">从业年限：{{member.memberExt.workTime}} 年</p>
					</div>
					<hr>
					<img src="img/icon_online.png" class="member-online" />
				</div>
			</div>
			<div class="tipBox answerBox" style="display: none;">
				<p style="color: rgb(139,22,11);font-size: 16px;font-weight: bold;margin-bottom: 20px;">设计师回答</p>
				<div class="memberItem" v-for="(answer,index) of answerList">
					<p class="answerTime">{{answer.createDate}}</p>
					<div class="answerContainer" v-html="answer.content"></div>
					<button :class="answer.accept? 'btnCancel' : 'btnAccept'" id="btnAccept" @click="acceptAction(index,answer.id,answer.accept)">{{answer.accept ? '取消采纳' : '采纳' }}</button>
					<hr>
				</div>
			</div>
		</div>
		
			<div id="inviteFDDialog" class="inviteFDDialog">
				<form class="layui-form" action="" lay-filter="inviteDesignerForm">
				  <div class="layui-form-item">
				    <label class="layui-form-label">答题者</label>
				    <div class="layui-input-block">
				      <input type="text" name="username1" required  lay-verify="required" placeholder="请输入被邀请者正确的手机号或邮箱" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">答题者</label>
				    <div class="layui-input-block">
				      <input type="text" name="username2"  placeholder="请输入被邀请者正确的手机号或邮箱" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">答题者</label>
				    <div class="layui-input-block">
				      <input type="text" name="username3"  placeholder="请输入被邀请者正确的手机号或邮箱" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">答题者</label>
				    <div class="layui-input-block">
				      <input type="text" name="username4" placeholder="请输入被邀请者正确的手机号或邮箱" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">答题者</label>
				    <div class="layui-input-block">
				      <input type="text" name="username5"  placeholder="请输入被邀请者正确的手机号或邮箱" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" lay-submit lay-filter="inviteDesignerForm">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				</form>
			</div>
			
			
			<div id="answerDialog" class="inviteFDDialog answerDialog">
				<form class="layui-form" action="" lay-filter="answerForm">
				  <div class="layui-form-item">
				    <label class="layui-form-label">回答内容</label>
				    <div class="layui-input-block">
				     <textarea id="content"  style="display: none;"></textarea>
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">上传图纸</label>
				    <div class="layui-input-block">
						<input id="uploadFile" type="file"  multiple="multiple"  name="fileTrans" ref="file" value="" style="opacity: 0;height: 40px;width: 130px;" />
				    	 <button type="button" class="layui-btn invitePM btnUploadFile" >上传图纸或者附件</button>
				    	 <div id="fileNames"></div>
				    </div>
				  </div>
				  <div class="layui-form-item" style="margin-top: 40px;">
				    <div class="layui-input-block" style="margin-left: 0px;">
				      <button class="layui-btn" lay-submit lay-filter="answerForm">立即提交</button>
				      <button class="layui-btn layui-btn-primary" onclick="layer.closeAll()">取消</button>
				    </div>
				  </div>
				</form>
			</div>
			
			
			<div id="detailsDialog" class="inviteFDDialog answerDialog" v-html="questionData.content">
				
			</div>
		
		
			</div>
	</body>
		<script type="text/javascript" src="lib/js/leftTime.min.js"></script>
		<script type="text/javascript" src="js/answerHall.js" ></script>
		<script type="text/javascript" src="lib/js/layui/lay/modules/layer.js" ></script>
		
</html>
