<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="lib/js/layui/css/layui.css" />
		<link rel="stylesheet" href="css/paging.css" />
		<link rel="stylesheet" href="css/myQuestion.css" />
		<link rel="stylesheet" href="lib/js/layui/css/modules/layer/default/layer.css" />
		<script type="text/javascript" src="lib/js/jquery.js" ></script>
		<script type="text/javascript" src="js/paging.js" ></script>
		<script type="text/javascript" src="lib/js/layui/layui.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="lib/js/vue.min.js" ></script>

	</head>

	<body>

			<div class="quetions-type-tab">
				<span class="question-type active">方案</span>
				<span class="question-type">施工图</span>
			</div>
			
		<div id="myQuestionContainer">
			<div class="questionsItem" v-for="(item,index) of myList">
				<div class="questions-name" :title="item.title">
					问题：{{item.miniTitle}}
				</div>
				<div class="questions-info">
					<div class="questions-info-reward">
						<img src="img/money.png" />
						<span><span class="questions-money">{{item.reward}}</span>  RMB</span>
					</div>
					<div class="questions-info-time">
						<img src="img/time.png" />
						<span class="questions-time">
							{{item.publishDate}}
						</span>
					</div>
				</div>
				<div class="person-btn-invite layui-circle"  :class="'person-btn-invite-'+item.status"></div>
				<div class="person-btn-invite-in layui-circle" :class="'person-btn-invite-in-'+item.status" @click="modifyStatus(index,item.id,item.status,item.reward)">
					<p style="font-size: 16px;line-height: 40px;">{{item.t1}}</p>
				</div>
				<img :src='"img/icon_"+item.status+".png"' class="icon-status" />
			</div>
		
			<div class="box pageBox" id="box"></div>

		
		<!--设置赏金弹窗-->
		<div id="rewardDialog" class="rewardDialog">
			<p style="font-size: 16px;margin: 20px 14px;">问题总赏金：￥ <span id="questionReward"></span></p>
			<form class="layui-form" action="" lay-filter="rewardForm">
			  <div class="layui-form-item" v-for="(item,index) of rewardMembers">
			    <label class="layui-form-label" @click="showAnswer(index,item.answers,item.member.tempName)">{{item.member.tempName}}</label>
			    <div class="layui-input-block">
			     <input type="text" :name="'reward'+item.id" lay-verify="required|number"  placeholder="设置赏金" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="answerBox">
			  		<p class="answerTitle"><span id="answerName"></span>的回答</p>
					<div class="answerItem" v-for="item of answers">
			  			<p class="answerTime">{{item.createDate}}</p>
			  			<div class="answerContent" v-html="item.content"></div>
			  	</div>
			  </div>
			  <div class="layui-form-item" style="margin-top: 40px;">
			    <div class="layui-input-block" style="margin-left: 10px;">
			      <button class="layui-btn" lay-submit lay-filter="rewardForm">立即提交</button>
			      <button class="layui-btn layui-btn-primary" onclick="layer.closeAll()">取消</button>
			    </div>
			  </div>
			</form>
		</div>
		</div>
			
	</body>
		<script type="text/javascript" src="js/myQuestion.js" ></script>
		<!--<script type="text/javascript" src="lib/js/layui/lay/modules/layer.js" ></script>-->
		<script>
		</script>
</html>
